.blearui-upload {
  background: #fff; }
  .blearui-upload-content {
    position: relative;
    height: 200px;
    overflow: hidden; }
  .blearui-upload-tips {
    text-align: center;
    line-height: 200px;
    color: #bbb;
    font-size: 22px; }
  .blearui-upload-file {
    position: absolute;
    font-size: 100em;
    left: 0;
    top: 0;
    cursor: pointer;
    opacity: 0;
    -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0); }
